<h1>Menu</h1>

<div class="card">
    <div class="card-body">
        <a href="/admin/postagens">
            <button class="btn btn-success mt-4">Ver mensagens dos clientes</button>
        </a><br>
        <a href="/admin/categorias">
            <button class="btn btn-success mt-4">Ver lista de marcas</button>    
        </a><br>
        <a href="/usuarios/registro">
            <button class="btn btn-success mt-4">Cadastrar administrador</button>    
        </a><br>
    </div>
</div>
